
body{
    background-color: rgb(70, 156, 196);
    text-align: center;
}
#resultado{
    display: flex;    
    flex-direction: column;
    align-items: center;
    
}


#exibir_val{
    
    background-Color : rgb(200, 224, 230);
    border-radius: 10px;
    width: 180px;
    padding: 10px; 
    margin: 30px;   
    
}

#btnAdd{
    cursor: pointer;
}

#btnFinal{
    background-color: rgb(233, 231, 111);
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
    padding: 4px 7px;
    cursor: pointer;

}

#resumo{
    background-Color : rgb(200, 224, 230);
    border-radius: 10px;
    width: 650px;
    padding: 40px; 
    margin: 30px;
}